# Core Dependencies
ddgs
python-dateutil
trafilatura
tqdm
deep-translator
requests
PyYAML

# AI & Analysis
groq
google-generativeai
textblob

# Rich Console UI
rich

# Environment Variables
python-dotenv
pyperclip
